# Configurações do Apache Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_DEVOLUCAO=devolucao_events
KAFKA_TOPIC_ITEM=item_events
KAFKA_TOPIC_RECLAMANTE=reclamante_events
KAFKA_TOPIC_RESPONSAVEL=responsavel_events
KAFKA_TOPIC_ITEM_STATUS=item_status_updates
KAFKA_CONSUMER_GROUP_ITEM=item_status_manager_group

# Configurações da Aplicação
LOG_LEVEL=INFO
